@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(https://fonts.googleapis.com/css2?family=Tajawal:wght@500&family=Ubuntu:ital,wght@1,500&display=swap);
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background-color: #0A1420;
}
body::-webkit-scrollbar-thumb {
  background-color: #F0C019;
}
body
	{
		background: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Tajawal', sans-serif;
    font-weight: 400;
  
	}
  
html,body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}
/* navbar styles */

.team-div p{
  text-align: center;
}
.hr3{
  width: 40px;
  height: 2px;
  background-color: #F0C019;
  
}

.ml-auto {
  margin-right: 0%;

}
.mr-auto {
  margin-left: 00px;

}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    
}
.bg-color{
  background-color: #0A1420
}
.nav-link {
  color:white
}

.navbar-brand img{
    margin: 0 auto;
    display: block;
    position: absolute;
    left: calc((100% - 195px) / 2);
    width:150px ;
    height:80px;
    top: 0;
}
#home {
  transition: all 2s ease-in;
}
/* home */
h1,h2,h3 {
  font-weight: 500;
  
  text-transform: uppercase;
  color:#0A1420;
  text-align: center;
}

.h1-font {
  font-size:100px !important;
  font-weight: bolder !important;

  color:#ffffff;
}
.hr1 {
  width: 150px;
  height: 3px;
  background-color: #F0C019;

}
.hr2 {
  width: 60px;
  height: 3px;
  background-color: #F0C019;

}
#more {
  display: none;
  height: 100%;
  transition: all 1s ease-in;
}
@media (max-width: 768px) {
  .img-vid{
    width:500px;
    height:500px;

  }
  .team-p{
    width: 500px;
    height:400px;
  
  }
  #who-we-are {
    height:  100% !important;
    font-size: small;
    
  }
 
}

#home {
  height: 100vh !important;
}
#who-we-are {
  height:   100%  !important;
  font-size: small;
  overflow: hidden;
}
#who-we-are h2 {
  color: #ffffff;
  font-size:50px !important;
  font-weight: bolder !important;
  padding-top: 112px;
  overflow: hidden ;
  
}

h3 {
  font-size: 1rem;
  line-height: 2rem;
}

p {
  color: #828282;
  
  line-height: 28px;
}

strong {
  color: #f1c11a;
  font-weight: 700;
}

#about,
#feature,
#contact {
  background: #ffffff;
}

#home2   {
  margin-top: 100px !important;
}
#clients,

footer {
  padding-top: 100px;
  padding-bottom: 100px;
 
}
/* team section */
#team {
  height: 100%;
}
.team-div{
  display: inline-grid  ;
  justify-content: center;
  align-items: center;
  width: 200px !important;
  height: 300px;
}
.team-p {
  text-align: center;

}
.slide-news {
  width: 300px !important;
}
.section-title {
  padding-bottom: 62px;
}
.section-title h1 {
  padding-bottom: 10px;
}
#about .section-title {
  padding-bottom: 22px;
}
#contact .section-title {
  text-align: center;
  padding-top: 90px;
}

/* who-we-are */

#who-we-are {
  height: 100% !important;
  background-color: #0A1420 !important;
  display: inline-flexbox !important;
  align-items: center !important;
  padding-bottom: 100px;


}
.phone  {
font-family: sans-serif;
font-size: 13px;
} 
.horizontal1  {
  padding-right: 7px;
  border-right: 2px solid rgba(238, 238, 238, 0.582);
}
.horizontal2  {
  padding-left: 7px;
  
}
.who {
 
 text-align: center;
} 
.card-title {
  color: white !important;
}
.card-text {
  font-size: 17px;
}
@media (min-width:768px) and (max-width:992px) {
  video {
    width:330px
  }
}

@media (max-width:767px) {
 
  video {
    height: 250px;
    width:347px;
    margin: 0 auto;
    
  }
}
@media (min-width:766px) {
  .who {
    padding-top: 120px;
   } 
}
#team {
  background-color: #eee;
}
/* preloader section  */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-circle {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative; }
  .sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
            animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; }
  .sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg); }
  .sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg); }
  .sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg); }
  .sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg); }
  .sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg); }
  .sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg); }
  .sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg); }
  .sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); }
  .sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); }
  .sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
  .sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; }
  .sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; }
  .sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; }
  .sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  .sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s; }
  .sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; }
  .sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

#slideshow {
  top: 0;
  left: 0;
  z-index: -10;
  width: 100vw;
  backface-visibility: hidden;
}


/* home section */
#home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
        align-items: center;
  text-align: center;
  height: 100vh;
  color: #ffffff;
}

#home .home-thumb {
  text-align: center;
}

#home .btn {
    background: transparent;
    
    border-radius: 0px;
    color: #ffffff;
    font-weight: 700;
    padding: 14px 36px;
    margin-top: 42px;
    margin-right: 16px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.width {
  width:200px !important;
  border : 1px solid #eee !important;
  background-color: rgba(0, 0, 0, 0.479) !important;
}
.width:hover {
  background-color: #F0C019 !important;
}
#home .btn:hover {
  background: #f1c11a;
  color: #ffffff;
  border-color: transparent;
}
.whop {
  text-align: left !important;
}
#home .btn-success {
   
    color: white;
    border-color: transparent;
}
.footer {
  position: relative !important;
  margin-top:-10px !important;
}
.svgcolor-light {
  display: none;
}
/* about section */
#about h3 {
    margin-top: 0px;
}

#about .about-thumb {
  padding-top: 10px;
}


/* feature section */
#feature {
  background: #f1c11a;
}

#feature .icon {
  color: #ffffff;
  font-size: 42px;
  padding-right: 14px;
}

#feature p {
  color: #333;
}

#feature .btn {
    background: transparent;
    border: 3px solid #ffffff;
    border-radius: 0px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    
    padding: 14px 36px;
    margin-top: 62px;
    margin-right: 16px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#feature .btn:hover {
  background: #ffffff;
  color: #333;
  border-color: transparent;
}


.h2-contact {
  color: #ffffff;
  font-size:50px !important;
  font-weight: bolder !important;
  padding-top: 112px;
  overflow: hidden ;
  
}
/* contact section  */
#contact .form-control {
  background: transparent;
  border: 1px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  font-size: 16px;
  margin-bottom: 16px;
  transition: all 0.4s ease-in;

}

#contact .form-control:hover {
  border-color: rgb(253, 253, 253);
}

#contact input {height: 55px;}

#contact input[type='submit'] {
  background: #242424;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  transition: all 0.4s ease-in;
  margin-top: 10px;
}

#contact input[type='submit']:hover {
  background: #f1c11a;
}


/* footer section  */
footer {
  background: #111112;
}

footer .copyright-text {
  padding-top: 10px;
}

footer a {
	color: #fff;
}

footer a:hover {
	color: #FF6;
}

/* svg */
.svgcolor-light {
  /*position: absolute;
  top: 0;
  left: 0; */
  position: relative;
  bottom: 104px;
}
.svgcolor-light > path {
  fill: white;
  stroke: white;
  stroke-width: 0;
}

/* modal */
.modal-dialog .modal-content {
  background: url('../images/modal-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 0;
  text-align: center;
  padding: 100px 50px 100px 50px;
  position: relative;
}

.btn:focus {
  outline: none;
}

.modal-header {
  border-bottom: 0px;
}

.modal-dialog .close {
  color: #f1c11a;
  font-size: 40px;
  font-weight: 300;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  top: 40px;
  right: 40px;
  border: 2px solid #ffffff;
  border-radius: 100px;
  width: 36px;
  height: 36px;
  line-height: 35px;
  text-align: center;
}
.modal-dialog .close:focus {
  outline: none;
}

.modal-dialog form {
  padding: 20px;
}
.modal-dialog form input {
  height: 55px;
}
.modal-dialog form .form-control {
  background: transparent;
  border: 1px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
  transition: all 0.4s ease-in-out;
}

.modal-dialog form input[type="submit"] {
  background: #ffffff;
  color: #242424;
  text-transform: uppercase;
  margin-top: 30px;
}
.modal-dialog form input[type="submit"]:hover {
  background: #f1c11a;
  border-color: transparent;
  color: #ffffff;
}

/* Back top */
.go-top {
  background-color: #eee;
  bottom: 2em;
  right: 2em;
  color: #111112;
  font-size: 22px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition: all 0.4s ease-in;
  border-radius: 10px;
}

.go-top:hover {
    background: #f1c11a;
    color: #ffffff;
}


/* social icon section  */
.social-icon {
  padding: 0;
  margin: 0;
  top:50px !important
}

.social-icon li {
  list-style: none;
  display: inline-block;
  
}

.social-icon li a {
  border-radius: 100px;
  color: #626262;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  margin-top: 12px;
  margin-right: 10px;
  
}

.social-icon li a:hover {
  background-color: #0A1420;
  color: #F0C019;
}

/* Mobile Responsive */
@media (max-width: 980px) {

  h1 {
    font-size: 2.4rem;
  }

  #home {
    height: 100vh !important;
  }

  #about .section-title {
    padding-bottom: 12px;
  }

  #feature .col-md-4 {
    padding-bottom: 32px;
  }

}


@media (max-width: 768px) {

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

}


@media (max-width: 700px) {
 
  #home {height: 100vh;}

  .modal-dialog .modal-content {
    padding: 50px 20px;
  }

  footer {text-align: center;}
  footer .col-sm-6 {
    padding-bottom: 32px;
  }

  .modal-dialog .close {
  font-size: 35px;
  width: 25px;
  height: 25px;
  line-height: 25px;
}

}

/* ////////////////////////////navbar toogler//////////////////////////////// */
.bar1, .bar2, .bar3
{
width: 100%;
height: 5px;
background-color: #fff;
transition: 0.4s;
}
.bar1
{
margin: 0 0 4px 0;
}
.bar3
{
margin: 4px 0 0;
}

/*CHANGE TO TWO BARS CROSSED */
.change .bar1
{
-webkit-transform: rotate(-45deg) translate(-7px, 2px);
transform: rotate(-45deg) translate(-7px, 2px);
}
.change .bar2
{
opacity: 0;
}
.change .bar3
{
-webkit-transform: rotate(45deg) translate(-6px, -2px);
transform: rotate(45deg) translate(-6px, -2px);
}

/*removes clickable areas around the icon which could allow visitors to toggle without the animation occurring */

.fl-page-nav-toggle-icon .fl-page-nav .navbar-toggle
{
margin: 0;
padding: 0;
}





/* contact section */
#contact {
  background-color:  #0A1420 !important;
  height: 100vh;
}
#submit {
  color : #0A1420 !important;
  background-color:  white !important;
}
#submit:hover {
  color :   white !important;
  background-color:  #f1c11a  !important;
}
.section-title {
  color :white !important ;
}

#myBtn {
  background-color:  #0A1420 !important;
  border: none;
  color: white;
}
.color {
color:white !important;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 0.6 !important; /* Firefox */
}
.h2-color{
  color:#0A1420;
}
.footp , .foots , .social-icon , .social-icon-up  .footh , .footc {
  text-align: center;
  color:#0A1420;

}
.social-icon-up {
  margin-top : 30px  !important
}
footer {
  background-color: white;
}
.meight {
  color:#0A1420;
  font-weight: 800;
}
.nav-link:hover {
  color:#F0C019 !important;
}
.lang {
  color :#F0C019;
  
}
.lang:hover {
  color :#ffffff;
  text-decoration: none;
}


.social-icon-up {
  padding: 0;
  margin: 0;
}

.social-icon-up li {
  list-style: none;
  display: inline-block;
}
.social-icon-up-color {
  color: white !important;
}
.social-icon-up li a  {
  border-radius: 100px;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  margin-top: 12px;
  margin-right: 10px;
 
}

.social-icon-up li a:hover {
  background-color: #0A1420;
  color: #F0C019;
}
.social-icon-up-div {
  color: white !important;
}
.h2-colo {
  color:white;
  display: none;
}
.padding {
  padding-right: 90px;
}
.vector{
  padding-left: 90px;
  padding-top: 80px;
}
@media (min-width:992px) {
.fixed-top {
  height: 90px;

} 
 }
@media (max-width:992px) {
.navbar-brand img {
  margin: 0 auto;
  display: block;
  position: absolute;
  left: calc((100% - 195px) / 2);
  width: 150px;
  height: 90px;
  top: 0;
  display: none;
}
.h2-colo {
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}
}
@media (max-width:1213px) {
  .vector {
    display: none;
  } 
}
.vl {
  border-left: 2px  solid #F0C019;
  height: 220px;
}

/* //////////////////////////////////////////////////////////////////// */
/* Slider */
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
 
}

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
  border-radius: 20%;
  width:100% ;
  height: 120px;
  filter: grayscale(100%);
  transition: 0.4s ease;
}

.slick-slide img:hover
{
 
  filter: grayscale(0);
  
}
  
.slick-slide img
{
  display: block;
  border-radius: 50%;
  width:100% ;
  height: 120px;
  box-shadow: 0 8px 6px -6px rgb(82, 81, 81);
  
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.customer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#fff;
  height:50vh !important
}
#home2 {
  text-align: center;
}
.customer2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#fff;
  height:100vh !important
}
.clients-name {
  text-align: center;
  color: #0A1420;
  font-weight: 700;
  display: none;
}
.our-clients {
  font-weight: bolder !important;
  font-size: 50px;
}
/* #contact .form-control {
  width: 500px;
}
@media (max-width:1995px) { 
  #contact .form-control {
    width: 400px;
  }
} */
#home {
 background-color: rgba(0,0,0,0.5);
 display: flex;
 justify-content: center;
 align-items: center;

}

@media (max-width:767px) {

  #contact {
    height: 120%
  }
}
@media (min-width:1250px) {
.langWrap {
  position: fixed !important;
  right: 12px !important;
} 
}

@media (max-width:1200px) {
  .langWrap {
    position: relative !important;
   right: 0;
  } 
  }
  
.slide {
  height: 200px !important;
}
.homep {
  color:white !important
}
.up {
  display: flex;
  top: 0;
}
.contact-form{
  position: relative;
 
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: rgb(161, 240, 174); /* Black background color */
  color: rgb(36, 110, 33); /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

